$primary: #75f;
$secondary: #555;

$maincontent-lighter: #3f3f3f;
$maincontent: #333;
$backcontent: #222;
$backcontent-darker: #121212;
$link-active: #a5f;
$link-inactive: #ccc;
$link-hover-color: $primary;

$white-darker: #cfcfcf;